<!DOCTYPE html>
<html>
<head>
  <title>Frogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/timer.jquery/0.6.5/timer.jquery.min.js' %>
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Permanent+Marker" rel="stylesheet"> 
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
